body {
    margin: 0;
}

.navbar {
    background-color: #0b2c6aec;
}

.navbar a {
    color: #FEFFF9;
    transition: 0.3s;
}

.navbar a:hover {

    color: #327FFC
}
.box{
    height: 100vh;
    width: 100vw;
}
.background1{
    background-image: url("./img/psychology-2647941_1920\ copy.png");
    background-size: cover;
}